.content{
    display: flex;
    color: darkgray;
    font-weight: bolder;
    flex-grow: 10;
}
select{
    width:200px;
    height: 40px;
    margin-top: 20px;
    border-radius: 20px;
}
select:hover{
    color: orange;
}
.h1{
    background-color: orange;
    width: 100px;
    height: max-content;
    border-radius: 20px;
    text-align: center;
}
thead{
    background-color: black;
    color: white;
    font-weight: bold;
    
}