.card{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.card > .cards{
    width: 22%;
    height: 455px;
}
.cards:hover{
    background-color: red;
    color: white;
}
.card > .cards > img{
    width: 100%;
    object-fit: contain;
}
.card > .cards > p,a{
    padding: 10px 13px;
}
/* .card > .cards > p{
    font-size: 2rem;
    color: rgb(4, 4, 61);
} */
.card > .cards > a{
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
}